<%= render 'nav_menu/nav_bar' %>
<div class="container">
<h1>New entity</h1>

<%= render "form", entity: @entity %>

<br>

<div>
  <%= link_to "Back to entities", group_entities_path, class:'btn btn-primary' %>
</div>
</div>
