<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between">
    <img src="<%= group.icon %>" alt="icon" />
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <p><%= group.name %></p>
        <div>
          <% amount = 0 %> <% group.entities.each do |entity| %> <% amount +=
          entity.amount %> <% end %>
          <strong>$<%= amount %></strong>
        </div>
      </div>
      <p class="date"><%= group.created_at %></p>
    </div>
  </li>
</ul>
